body {
  min-height: 100vh;
  background-color: #ecf2f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 2rem auto;
}
main .container .card {
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0px 1px 7px 0px #9eafc2;
}
main .container .card__img {
  background-image: url("../images/drawers.jpg");
  max-width: 100%;
  height: 275px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}
main .container .card__details {
  padding: 0 2.4rem;
}
main .container .card__details h1 {
  font-size: 1rem;
  margin-top: 2.3rem;
  line-height: 25px;
  font-weight: 700px;
  margin-bottom: 0.7rem;
  color: #48556a;
}
main .container .card__details p {
  font-size: 0.8rem;
  line-height: 60px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 1rem;
  color: #9eafc2;
}
main .container .card__user {
  padding: 0.8rem 0;
  margin-top: 1.2rem;
  max-width: 100%;
}
main .container .card__user__details {
  padding: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .container .card__user__details__img {
  background-image: url("../images/avatar-michelle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .container .card__user__details__caption {
  margin-left: -3rem;
}
main .container .card__user__details__caption h2 {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #48556a;
}
main .container .card__user__details__caption span {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #9eafc2;
}
main .container .card__user__details__share {
  background-image: url("../images/icon-share.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0.6rem;
  position: relative;
}
main .container .card__user__details__share::before {
  content: "";
  position: absolute;
  top: -0.4rem;
  right: -7px;
  width: 15px;
  height: 15px;
  background-color: rgba(158, 175, 194, 0.137);
  padding: 0.4rem;
  border-radius: 20px;
}

@media screen and (min-width: 658px) {
  main .container {
    height: 100vh;
    margin: 0 auto;
  }
  main .container .card {
    display: flex;
    height: 250px;
    max-width: 650px;
    width: 100%;
  }
  main .container .card__img {
    width: 900px;
    height: auto;
    max-width: 100%;
  }
  main .container .card__details {
    margin: 2rem 0.2rem;
    padding: 0 1.7rem;
  }
  main .container .card__details h1 {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  main .container .card__details p {
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 17px;
    font-weight: 500;
  }
  main .container .card__user {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
  }
  main .container .card__user__details {
    padding: 0;
    margin-top: 0;
  }
  main .container .card__user__details__caption {
    margin-left: -4rem;
  }
  main .container .card__user__details__caption h2 {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #48556a;
  }
  main .container .card__user__details__share {
    margin-right: 0.6rem;
    position: relative;
  }
  main .container .card__user__details__share::before {
    content: "";
    position: absolute;
    top: -0.4rem;
    right: -7px;
    width: 15px;
    height: 15px;
    background-color: rgba(158, 175, 194, 0.137);
    padding: 0.4rem;
    border-radius: 20px;
  }
  main .container .card__user__details__share:hover {
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */